body{
font-family: 'Montserrat-light', sans-serif;
}

#title{
  background-color: #ff4c68;
  color: #fff;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

.container-fluid{
padding: 3% 10% 7%;

}

.navbar-brand{

  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;

}

.navbar{
  padding:0 0 4.5rem;
}

.nav-item{
padding: 0 18px;
}

.nav-link{
  font-family: 'Montserrat-light', sans-serif;
  font-size: 1.2rem;
}

.download-button{
  margin: 5% 3% 5% 0;
  font-family: 'Montserrat-light', sans-serif;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;

}

#features{
  padding: 7% 15%;
position: relative;
background-color: white;
}

.feature-box{
  text-align: center;
  padding: 5%;

}

.icon{
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover{
  color: #ff4c68;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  padding: 3% 15% 2%;
  color: white;
}

.testimonial-img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 1.5rem;

}

.carousel-item{
  padding: 7% 15%;
}

@media (max-width:1024px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }

}

#cta{
  text-align: center;

  background-color: #ff4c68;
  padding:7% 15%;

}

.cta-heading{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2.5rem;
  line-height: 1.5;
}
#footer{
  padding: 7% 15%;
  text-align: center;

}

.social-icon{
  margin: 20px 10px;
}

#skill-set{
  text-align: center;
}

.skill-heading-1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 3%;
}

#skill-set{
  padding-bottom: 5%;
}

.skill-heading{
  font-size: 1.5rem;
  font-family: 'Montserrat-light', sans-serif;
  font-weight: bold;
}

.skills{
  margin-top: 50px;
}

.skill-1-image{
width: 8rem;
}

.middle-paragraph{
  width: 30%;
  margin: auto;
  font-size: 120%;
  font-family: 'Montserrat-light', cursive;
  color: #000000;
  line-height: 150%;
